:root .theme_dark {
  --title-text: #db00ff;
  --accent-color: #ff006f;
  --button-color: var(--accent-color);
  --shadow-color: var(--accent-color);
  --button-color-hover: hsla(334, 100%, 50%, 0.4);
  --subtitle-color: #000028;
  --text-color: #f1b2ce;
  --content-subtitle-color: var(--accent-color);
  --display-rec: flex;
}

.page.theme_dark {
  background-color: var(--subtitle-color);
  background-image: url(../images/cover-image-dark.png);
}

.rec {
  color: var(--button-color);
}

.rec::after {
  background-color: var(--button-color);
  box-shadow: 0 0 4px 2px var(--button-color);
}
